* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
  --text-primary: #0f2612;
  --text-secondary: #da1919;
  --bg-primary: #f2f2f2;
  --bg-secondary: #ebedf2;
  --theme-primary: #50bf6c;
  --theme-secondary: #22ccf2;
  --theme-meta: #A0A0A0;
  --error: #BF213E;
  font-family: Fira Sans;
}

body {
  background-color: var(--bg-primary);
  margin: 0;
}